<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Tipje</string>
    <key>CFBundleIdentifier</key>
    <string>com.Tipje</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UIAppFonts</key>
    <array>
        <string>Inter-VariableFont_opsz,wght.ttf</string>
    </array>
</dict>
</plist>//
//  Info.plist
//  Tipje
//
//  Created by Ira Bykova on 30/05/2025.
//

